//fontColor
$text: hsl(0, 0%, 100%);
$footer__text: hsl(240, 2%, 79%);
$body: hsl(207, 13%, 34%);
$footer__bg: hsl(240, 10%, 16%);

//gradient color
$primary__gradient: hsl(13, 100%, 72%);
$secondary__gradient: hsl(353, 100%, 62%);

// primary
$cta__text: hsl(356, 100%, 66%);
$cta__hover: hsl(355, 100%, 74%);
$heading: hsl(208, 49%, 24%);

//bg gradient
$dark__gray: hsl(237, 17%, 21%);
$dark__blue: hsl(237, 23%, 32%);
