footer {
  border-radius: 0 5rem 0 0;
  background-color: $footer__bg;
  padding: 4rem;
  @include grid;
  color: $text;
  h4 {
    font-weight: 500;
  }
  h4,
  .product__list,
  .company__list,
  .contact__list {
    h5 {
      padding-bottom: 2rem;
    }
    a {
      color: $text;
      text-decoration: none;
      padding: 0.25rem 0;
    }
    grid-column: span 3;
    justify-self: center;
    @include flex(flex-start);
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 0;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
