nav {
  @include flex(space-between);
  width: 100%;
  padding: 1.5rem 0;
  .nav__left {
    @include flex(center);
    h4 {
      padding-right: 1.5rem;
    }
    select {
      background: transparent;
      margin: 0 1rem;
      outline: none;
      border: none;
      cursor: pointer;
      color: $text;
      font-size: $p;
      font-weight: 500;
      option {
        padding: 2rem;
        color: black;
      }
    }
  }
  .links {
    @include media(sm) {
      display: none;
    }
    @include media(md) {
      display: none;
    }
    &.open {
      select {
        color: black;
        font-size: $lr;
        text-align: start;
      }
      z-index: 100;
      flex-direction: column;
      @include flex(space-evenly);
      background: $text;
      position: absolute;
      top: 13%;
      left: 0;
      height: 60vh;
      width: 100%;
    }
  }
  .nav__right {
    .menu {
      @include media(xlg) {
        display: none;
      }
      @include media(lg) {
        display: none;
      }
      @include media(xxlg) {
        display: none;
      }
      @include flex(space-evenly);
      flex-direction: column;
      gap: 1rem;
      cursor: pointer;
      span {
        height: 0.6rem;
        width: 5rem;
        background-color: #fff;
      }
      &.open {
        padding-bottom: 1rem;
        span:nth-child(2) {
          display: none;
        }
        span:nth-child(1) {
          transform: translateY(9px) rotate(45deg);
        }
        span:nth-child(3) {
          transform: translate(0) rotate(-45deg);
        }
      }
    }
    button {
      @include media(md) {
        display: none;
      }
      @include media(sm) {
        display: none;
      }
      border: none;
      background: none;
      cursor: pointer;
      margin: 0 1rem;
      padding: 1rem;
      font-size: $sm;
    }
    .signup {
      color: $cta__text;
      border-radius: 3rem;
      background: #fff;
      padding: 1rem 2.5rem;
      &:hover {
        color: $text;
        background: rgba(255, 255, 255, 0.212);
      }
    }
    .login {
      transition: 300ms ease-out;
      border-radius: 3rem;
      padding: 1rem 3rem;
      &:hover {
        background-color: $text;
        color: #000;
      }
      color: $text;
    }
  }
}
