.feature {
  @include grid;
  padding: 4rem;
  &__left {
    @include media(sm) {
      grid-column: 1/13;
    }
    grid-column: span 6;
    align-self: center;
    img {
      height: 50rem;
      width: 100%;
    }
  }
  &__right {
    @include media(sm) {
      grid-column: 1/13;
    }
    align-self: center;
    grid-column: span 6;
    h5 {
      padding: 2.5rem 0;
    }
  }
}
